.new-programs-container {
  margin: 65px auto;
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 15px;
}

.new-program-container-success {
  margin: 65px auto;
  width: 100%;
  max-width: 800px;
  background-color: #000;
  opacity: 0.85;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.success-info {
  text-align: center;
}

.return-to-new-program {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 8px;
}

.return-new-program-btn {
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.return-new-program-btn:hover {
  text-decoration: underline;
}

.new-programs-container > div {
  background-color: #000;
  opacity: 0.85;
}

.exercise-list {
  padding: 20px;
}

.checkbox {
  cursor: pointer;
  display: inline-flex;
  position: relative;
}

.checkbox > input {
  appearance: none;
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #000;
  cursor: pointer;
}

.checkbox > input:checked + div::before {
  content: "\2713";
  font-size: 30px;
  display: block;
  text-align: center;
  color: #41b883;
  position: absolute;
  left: -1.7rem;
  top: -0.3rem;
}

.checkbox > input + div {
  margin-left: 8px;
}

.exercise-list span:last-child {
  display: block;
  margin-bottom: 15px;
  font-size: 11px;
}

.exercise-form {
  padding: 20px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.program-exercise-list {
  flex-grow: 1;
}

.program-exercise-info {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-bottom: 15px;
}

.program-exercise-info:last-child {
  margin-bottom: 35px;
}

.program-exercise-info > span {
  display: block;
  width: 100%;
}

.program-exercise-info > div:last-child {
  margin-left: 15px;
}

.sets-container,
.reps-container {
  display: flex;
  align-items: center;
  font-size: 11px;
}

.sets-container > label + input,
.reps-container > label + input {
  margin-left: 8px;
}

.sets-input,
.reps-input {
  width: 60px;
}

.btn {
  border: 0;
  border-radius: 4px;
  background-color: #41b883;
  color: #fff;
  font-size: 15px;
  padding: 10px 8px;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-family: inherit;
}

.btn:hover {
  background-color: #2c835c;
}

.loading-container {
  margin: 65px auto;
  width: 100%;
  max-width: 800px;
  background-color: #000;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.loader {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  vertical-align: middle;
}

.loader-bars:before,
.loader-bars:after,
.loader-bars span {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 20px;
  background-color: #fff;
  animation: grow 1.5s linear infinite;
}

.loader-bars:after {
  left: 12px;
  animation: grow 1.5s linear -0.5s infinite;
}

.loader-bars span {
  left: 25px;
  animation: grow 1.5s linear -1s infinite;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
