.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: #000;
  width: 100%;
  height: 50px;
}

.main {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
}

.main::before {
  content: "";
  background-image: linear-gradient(
      to bottom,
      rgba(120, 2, 6, 0.9),
      rgba(6, 17, 97, 0.5)
    ),
    url("/main_splash.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.main-title {
  position: relative;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #000;
}
